@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,300;1,400;1,500;1,700;1,900 & display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #1D1F1F;
}

.header-container {
    height: 100vh;
    width: 100vw;
    background-color: #3991cd;
    background-image: url(./img/RodrigoFructuosoPerfil.jpeg);
    background-repeat: no-repeat;
    background-position:right;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}

h1 {
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

.dados-pessoais {
    margin-top: 1rem;
    display: flex;
}

.dados-pessoais a {
    text-decoration: none;
    color: rgb(9, 6, 26);
    padding: 2rem 4rem;
    border: 1px solid rgb(9, 6, 26);
    min-width: 2rem;
    max-width: 12rem;
    display: flex;
    align-items: center;
    justify-items: center;
    transition: .6s ease-in-out;
}

.social-media a {
    text-decoration: none;
    color: rgb(9, 6, 26);
    padding: 2rem 4rem;
    border: 1px solid rgb(9, 6, 26);
    min-width: 2rem;
    max-width: 12rem;
    display: flex;
    align-items: center;
    justify-items: center;
    transition: .6s ease-in-out;
}

a:hover {
    background-color: black;
}

/* Criei o Menu hamburguer */
.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 110px;
    width: 110px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 500ms ease-in-out 0s;
}

.checkbox .trace {
    width: 40px;
    height: 4px;
    background-color: antiquewhite;
    position: absolute;
    border-radius: 5px;
    transition: 0.6s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 28px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 48px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 68px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

/* Criei o Menu */
.menu {
    position: absolute;
    top: 30px;
    right: 32px;
    background-color: transparent;
    height: 6px;
    width: 12px;
    border-radius: 52%;
    box-shadow: 0px 0px 0px 0px white;
    z-index: -1;
    transition: 500ms ease-in-out 0s;
}

.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 500ms ease-in-out 0s;
}

.menu-items ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    list-style-type: none;
}

.menu-items ul li {
    margin: 8px;
    padding: 4px;
    border: solid 2px #1D1F1F;
}

.menu-items ul li a {
    margin: 10px 0;
    color: #1D1F1F;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 42px;
}

/* Criando animação do menu */
#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 28px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

#toggle:checked + .checkbox {
    background-color: #3991cd;
}

#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax #3991cd;
    z-index: 1;
}

#toggle:checked ~ .menu-items {
    visibility: visible;
    opacity: 1;
}

/* Criação dos Cards */
.container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-resolution: 3rem 0;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #042c46;
    background-image: url(./img/RodrigoFructuosoPerfil.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.6);
    color: black;
    cursor: pointer;
    transition: 0.6s ease-in-out;
}

.card-text {
    width: 40%;
    letter-spacing: 1px;
    color: rgb(110, 110, 110);
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper a {
    text-decoration: none;
    color: black;
}


.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid antiquewhite;
    opacity: 0;
    transition: 0.6s ease-in-out;
}

.card-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.6s ease-in-out;
}

.card-wrapper p {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.6s ease-in-out;
}

.card:hover {
    filter: unset;
}

.card:hover > .card-wrapper::before {
    height: 200px;
    width: 200px;
    opacity: 1;
}

.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 16px;
}

/* Criação do Footer */
.footer {
    width: 100%;
    height: 100px;
    background-color: #3991cd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    bottom: 0;
    position: fixed;
}

.footer a {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #FFF;
}

/* Contato */
#contato {
    text-align: center;
    background-color: #F9F9F9;
}

#contato p {
    font-size: 20px;
    margin-bottom: 40px;
}

#email-input {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid  #3991cd;
    display: inline;
    box-sizing: border-box;
    width: 40%;
    height: 40px;
}

#contato-btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid  #3991cd;
    background-color: #3991cd;
    text-transform: uppercase;
    color: #FFF;
    height: 40px;
    padding: 0 30px;
    margin-left: -100px;
    position: absolute;
    transition: .5s;
}

#contato-btn:hover {
    background-color: #FFF;
    color: #3991cd;
}

/* Formação */
.formacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   margin-top: 10%;
}

/* Hobbies */
#card-img-hobbie-futebol {
    background-image: url("./img/Jogador de futebol chutando.png");
    height: 300px;
}